In [1]:
from trainer import *
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
train_df

,id,store_sales(in millions),unit_sales(in millions),total_children,num_children_at_home,avg_cars_at home(approx).1,gross_weight,recyclable_package,low_fat,units_per_case,store_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,cost
0,0,8.61,3.0,2.0,2.0,2.0,10.30,1.0,0.0,32.0,36509.0,0.0,0.0,0.0,0.0,0.0,62.09
1,1,5.00,2.0,4.0,0.0,3.0,6.66,1.0,0.0,1.0,28206.0,1.0,0.0,0.0,0.0,0.0,121.80
2,2,14.08,4.0,0.0,0.0,3.0,21.30,1.0,0.0,26.0,21215.0,1.0,0.0,0.0,0.0,0.0,83.51
3,3,4.02,3.0,5.0,0.0,0.0,14.80,0.0,1.0,36.0,21215.0,1.0,0.0,0.0,0.0,0.0,66.78
4,4,2.13,3.0,5.0,0.0,3.0,17.00,1.0,1.0,20.0,27694.0,1.0,1.0,1.0,1.0,1.0,111.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360331,360331,7.60,4.0,5.0,5.0,3.0,13.50,1.0,0.0,33.0,30268.0,0.0,0.0,0.0,0.0,0.0,133.42
360332,360332,14.44,4.0,4.0,0.0,4.0,18.80,1.0,1.0,18.0,20319.0,0.0,0.0,0.0,0.0,0.0,81.85
360333,360333,10.74,3.0,0.0,0.0,2.0,11.30,1.0,0.0,35.0,30584.0,1.0,1.0,1.0,1.0,1.0,87.07
360334,360334,11.04,3.0,1.0,0.0,3.0,10.20,0.0,1.0,14.0,30584.0,1.0,1.0,1.0,1.0,1.0,146.72
360335,360335,5.30,2.0,2.0,0.0,2.0,10.80,0.0,0.0,21.0,33858.0,1.0,0.0,1.0,1.0,1.0,122.47

In [3]:
train_df, eval_df = train_test_split(train_df, test_size=0.1, random_state=42)
train_df

,id,store_sales(in millions),unit_sales(in millions),total_children,num_children_at_home,avg_cars_at home(approx).1,gross_weight,recyclable_package,low_fat,units_per_case,store_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,cost
70597,70597,1.74,3.0,5.0,0.0,3.0,17.40,0.0,0.0,32.0,38382.0,0.0,0.0,0.0,0.0,0.0,87.07
259204,259204,4.66,2.0,4.0,0.0,2.0,19.10,0.0,0.0,22.0,30797.0,1.0,1.0,1.0,1.0,1.0,99.38
247515,247515,3.72,4.0,1.0,0.0,3.0,14.00,0.0,0.0,3.0,27694.0,1.0,1.0,1.0,1.0,1.0,131.75
76802,76802,2.43,3.0,1.0,0.0,2.0,6.33,1.0,1.0,20.0,34452.0,1.0,0.0,0.0,0.0,1.0,59.40
92023,92023,4.58,2.0,3.0,3.0,3.0,15.00,0.0,0.0,31.0,27694.0,1.0,1.0,1.0,1.0,1.0,59.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119879,119879,9.20,4.0,2.0,0.0,1.0,21.50,1.0,0.0,29.0,23688.0,1.0,1.0,1.0,1.0,1.0,68.84
259178,259178,2.52,2.0,3.0,0.0,1.0,19.80,0.0,1.0,8.0,22478.0,1.0,0.0,0.0,0.0,0.0,119.30
131932,131932,4.56,4.0,2.0,1.0,4.0,14.80,1.0,1.0,18.0,23598.0,0.0,0.0,0.0,0.0,1.0,64.76
146867,146867,10.44,4.0,5.0,0.0,4.0,21.70,1.0,1.0,6.0,38382.0,0.0,0.0,0.0,0.0,0.0,62.74
121958,121958,11.40,3.0,2.0,2.0,1.0,13.70,1.0,0.0,12.0,21215.0,1.0,0.0,0.0,0.0,0.0,69.63

In [ ]:
from sklearn.metrics import mean_squared_log_error

rmsle = Scorer(name="rmsle",
               scorer=mean_squared_log_error,
               greater_is_better=False,
               extra_params={"squared": False}
             )



preprocessor = PreprocessingTool(val_folds = True,
                                 n_folds = 5,
                                 seed = 42,
                                 prob_type="regression"
                                 )

train_dataset = TabularDataset(train_df,
                               label = "cost",
                               preprocessor = preprocessor,
                               type = "train")
eval_dataset = TabularDataset(eval_df,
                              label = "cost",
                              preprocessor = preprocessor,
                              type = "eval")
test_dataset = TabularDataset(test_df,
                              preprocessor = preprocessor,
                              type = "infer")

trainer = Trainer(train_dataset,
                  eval_dataset = eval_dataset,
                  eval_metric = rmsle,
                  models = [
                      "LGB", "XGB", "CAT", "RF",
                             "SGD_LINEAR"],
                  early_stopping_rounds = 0,
                  of_mitigation_level = 0.2,
                  use_gpu = True,
                  use_cuda = True,
                  n_trials = 1000,
                  timeout = 300,
                  meta_timeout = 100,
                  seed = 42,
                  select_top = 3,
                  train_meta = True)

trainer.train()

LABEL: cost
Problem type: regression.
-----------------------------------------------------------------------------------------------------------------------------------------
IMPUTER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------
DTYPES DETECTOR:

WARNING: current TabularAML implementation doesn't handle non-categorical text features.

Found 2 unique raw np.dtype(s): [dtype('int64') dtype('float64')].
Dropped 1 column(s) with index ID / non-categorical text features.
Converted 0 column(s) to numeric types.
Remaining features: 0 int feat(s), 15 float feat(s), 0 categorical feat(s).
-----------------------------------------------------------------------------------------------------------------------------------------
5-FOLD STRATIFIEDKFOLDREG TRAIN-VAL SPLITTER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------
SCALER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------
ENCODER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------



STARTING TRAINING ...


OPTUNING LGB MODEL...

  0%|          | 0/1000 [00:00<?, ?it/s]

Trial 0 finished with values: {'mean_train_rmsle': 0.30173538989527876, 'mean_val_rmsle': 0.30397285784253053, 'optimized_metric': 0.3044203514319809},
and parameters: {'metric': 'None', 'learning_rate': 0.026093625273383002, 'n_estimators': 940, 'max_depth': 6, 'num_leaves': 34, 'feature_fraction': 0.5179712056139774, 'bagging_fraction': 0.6128955343036653, 'lambda_l1': 0.5065338851509116, 'lambda_l2': 0.08153096861451228, 'min_child_samples': 80, 'boost_from_average': True, 'verbosity': -1}.



Finished training. TOP 3 models are:

,id,mean_train_rmsle,mean_val_rmsle,optimized_metric,params_bagging_fraction,params_boost_from_average,params_feature_fraction,params_lambda_l1,params_lambda_l2,params_learning_rate,...,params_metric,params_min_child_samples,params_n_estimators,params_num_leaves,params_verbosity,datetime_start,datetime_complete,duration,state,model
0,LGB_0,0.301735,0.303973,0.30442,0.612896,True,0.517971,0.506534,0.081531,0.026094,...,None,80,940,34,-1,2024-11-13 00:57:09.807,2024-11-13 01:02:04.908633,0 days 00:04:55.101633,COMPLETE,LGBMRegressor(bagging_fraction=0.6128955343036...

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


OPTUNING XGB MODEL...

  0%|          | 0/1000 [00:00<?, ?it/s]

Trial 0 finished with values: {'mean_train_rmsle': 0.30291816487550205, 'mean_val_rmsle': 0.30455408127108213, 'optimized_metric': 0.30488126455019815},
and parameters: {'learning_rate': 0.06408875752379556, 'n_estimators': 118, 'max_depth': 6, 'min_child_weight': 1, 'subsample': 0.5316179637902181, 'colsample_bytree': 0.7694638589754156, 'reg_lambda': 0.0016224222457414282, 'reg_alpha': 0.00498264897920539, 'gamma': 0.26112695169324496, 'scale_pos_weight': 1.7002123793718784, 'verbosity': 0}.

Trial 1 finished with values: {'mean_train_rmsle': 0.2994769367277136, 'mean_val_rmsle': 0.3035768073459704, 'optimized_metric': 0.3043967814696218},
and parameters: {'learning_rate': 0.025082488396492332, 'n_estimators': 70, 'max_depth': 10, 'min_child_weight': 7, 'subsample': 0.7808461638216249, 'colsample_bytree': 0.7354055016001944, 'reg_lambda': 0.050743555633257185, 'reg_alpha': 0.337688583015071, 'gamma': 0.6029315553979576, 'scale_pos_weight': 0.0012577246296026736, 'verbosity': 0}.

Trial 2 finished with values: {'mean_train_rmsle': 0.2875851958981103, 'mean_val_rmsle': 0.30153071445031465, 'optimized_metric': 0.30431981816075554},
and parameters: {'learning_rate': 0.02694725862785846, 'n_estimators': 507, 'max_depth': 9, 'min_child_weight': 1, 'subsample': 0.8185819705360664, 'colsample_bytree': 0.5711712104292281, 'reg_lambda': 1.2257745464301841, 'reg_alpha': 0.004302906325399458, 'gamma': 0.6953513604097016, 'scale_pos_weight': 0.011132872242363149, 'verbosity': 0}.



Finished training. TOP 3 models are:

,id,mean_train_rmsle,mean_val_rmsle,optimized_metric,params_colsample_bytree,params_gamma,params_learning_rate,params_max_depth,params_min_child_weight,params_n_estimators,params_reg_alpha,params_reg_lambda,params_scale_pos_weight,params_subsample,params_verbosity,datetime_start,datetime_complete,duration,state,model
0,XGB_2,0.287585,0.301531,0.304320,0.571171,0.695351,0.026947,9,1,507,0.004303,1.225775,0.011133,0.818582,0,2024-11-13 01:02:34.619212,2024-11-13 01:03:43.113391,0 days 00:01:08.494179,COMPLETE,"XGBRegressor(base_score=None, booster=None, ca..."
1,XGB_1,0.299477,0.303577,0.304397,0.735406,0.602932,0.025082,10,7,70,0.337689,0.050744,0.001258,0.780846,0,2024-11-13 01:02:18.651140,2024-11-13 01:02:34.494898,0 days 00:00:15.843758,COMPLETE,"XGBRegressor(base_score=None, booster=None, ca..."
2,XGB_0,0.302918,0.304554,0.304881,0.769464,0.261127,0.064089,6,1,118,0.004983,0.001622,1.700212,0.531618,0,2024-11-13 01:02:05.110807,2024-11-13 01:02:18.526075,0 days 00:00:13.415268,COMPLETE,"XGBRegressor(base_score=None, booster=None, ca..."

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


OPTUNING CAT MODEL...

  0%|          | 0/1000 [00:00<?, ?it/s]

Trial 0 finished with values: {'mean_train_rmsle': 0.3037651313580175, 'mean_val_rmsle': 0.30420496554123455, 'optimized_metric': 0.30429293237787797},
and parameters: {'learning_rate': 0.0362941751771155, 'n_estimators': 121, 'max_depth': 9, 'reg_lambda': 0.0014981717769800365, 'random_strength': 0.8477939804878512, 'bagging_temperature': 0.6687307037833348, 'border_count': 231, 'min_data_in_leaf': 38, 'verbose': False}.

Trial 1 finished with values: {'mean_train_rmsle': 0.31514736365155216, 'mean_val_rmsle': 0.31515933181011413, 'optimized_metric': 0.3151617254418265},
and parameters: {'learning_rate': 0.005296837063853847, 'n_estimators': 100, 'max_depth': 5, 'reg_lambda': 0.0023335356361887305, 'random_strength': 0.01862417289934004, 'bagging_temperature': 0.4730246936710585, 'border_count': 82, 'min_data_in_leaf': 25, 'verbose': False}.

Trial 2 finished with values: {'mean_train_rmsle': 0.3038101006760263, 'mean_val_rmsle': 0.3047074564443878, 'optimized_metric': 0.3048869275980601},
and parameters: {'learning_rate': 0.07693003814120661, 'n_estimators': 796, 'max_depth': 4, 'reg_lambda': 0.11039631246527845, 'random_strength': 0.08627025013659768, 'bagging_temperature': 0.3175802166709031, 'border_count': 144, 'min_data_in_leaf': 19, 'verbose': False}.



Finished training. TOP 3 models are:

,id,mean_train_rmsle,mean_val_rmsle,optimized_metric,params_bagging_temperature,params_border_count,params_learning_rate,params_max_depth,params_min_data_in_leaf,params_n_estimators,params_random_strength,params_reg_lambda,params_verbose,datetime_start,datetime_complete,duration,state,model
0,CAT_0,0.303765,0.304205,0.304293,0.668731,231,0.036294,9,38,121,0.847794,0.001498,False,2024-11-13 01:03:43.287983,2024-11-13 01:03:59.710478,0 days 00:00:16.422495,COMPLETE,<catboost.core.CatBoostRegressor object at 0x0...
1,CAT_2,0.303810,0.304707,0.304887,0.317580,144,0.076930,4,19,796,0.086270,0.110396,False,2024-11-13 01:04:08.981862,2024-11-13 01:04:58.784133,0 days 00:00:49.802271,COMPLETE,<catboost.core.CatBoostRegressor object at 0x0...
2,CAT_1,0.315147,0.315159,0.315162,0.473025,82,0.005297,5,25,100,0.018624,0.002334,False,2024-11-13 01:03:59.850589,2024-11-13 01:04:08.869445,0 days 00:00:09.018856,COMPLETE,<catboost.core.CatBoostRegressor object at 0x0...

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


OPTUNING RF MODEL...

  0%|          | 0/1000 [00:00<?, ?it/s]

In [ ]:
import dill
with open("tr.pkl", "wb") as f:
    dill.dump(trainer, f)

In [ ]:
with open("tr.pkl", "rb") as f:
    new_tr = dill.load(f)

In [ ]:
processed_test_data = test_dataset.process()
processed_test_data

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4206,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4207,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
preds = trainer.predict(processed_test_data, mode="ensemble")
preds

array([ 78.72376718,  94.46495028,  78.8818638 , ...,  92.88526377,
       111.10183589,  92.96680061])

In [ ]:
submission = pd.DataFrame({
    "ID": test_df["ID"],
    "y": preds
})
submission

        ID           y
0        1   78.723767
1        2   94.464950
2        3   78.881864
3        4   77.956778
4        5  112.631084
...    ...         ...
4204  8410  103.391248
4205  8411   93.705470
4206  8413   92.885264
4207  8414  111.101836
4208  8416   92.966801

[4209 rows x 2 columns]

In [ ]:
submission.to_csv("submission_meta.csv", index=False)

a
b
d

In [ ]:
lista

['a', 'b', 'c']