In [1]:
!pip install optuna dill xgboost==1.7.6 catboost lightgbm numpy==1.26.4 pandas scikit-learn

Requirement already satisfied: optuna in /home/codespace/.python/current/lib/python3.12/site-packages (4.1.0)
Requirement already satisfied: dill in /home/codespace/.python/current/lib/python3.12/site-packages (0.3.9)
Requirement already satisfied: xgboost==1.7.6 in /home/codespace/.python/current/lib/python3.12/site-packages (1.7.6)
Requirement already satisfied: catboost in /home/codespace/.python/current/lib/python3.12/site-packages (1.2.7)
Requirement already satisfied: lightgbm in /home/codespace/.python/current/lib/python3.12/site-packages (4.5.0)
Requirement already satisfied: numpy==1.26.4 in /home/codespace/.python/current/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.12/site-packages (from xgboost==1.7.6) (1.14.1)
Requirement already satisfied: alembic>=1.5.0 in /home/codespace/.python/current/lib/python3.12/site-packages (from optuna) (1.14.0)
Requirement already satisfied: colorlog in /home/codespace/.python/current/lib/python3.12/site-packages (from optuna) (6.9.0)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from optuna) (24.1)
Requirement already satisfied: sqlalchemy>=1.4.2 in /home/codespace/.python/current/lib/python3.12/site-packages (from optuna) (2.0.36)
Requirement already satisfied: tqdm in /home/codespace/.python/current/lib/python3.12/site-packages (from optuna) (4.67.0)
Requirement already satisfied: PyYAML in /home/codespace/.local/lib/python3.12/site-packages (from optuna) (6.0.2)
Requirement already satisfied: graphviz in /home/codespace/.python/current/lib/python3.12/site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (3.9.2)
Requirement already satisfied: plotly in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: Mako in /home/codespace/.python/current/lib/python3.12/site-packages (from alembic>=1.5.0->optuna) (1.3.6)
Requirement already satisfied: typing-extensions>=4 in /home/codespace/.local/lib/python3.12/site-packages (from alembic>=1.5.0->optuna) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/codespace/.python/current/lib/python3.12/site-packages (from sqlalchemy>=1.4.2->optuna) (3.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (3.1.4)
Requirement already satisfied: tenacity>=6.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from plotly->catboost) (9.0.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /home/codespace/.local/lib/python3.12/site-packages (from Mako->alembic>=1.5.0->optuna) (2.1.5)

In [2]:
from trainer import *
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

/usr/local/python/3.12.1/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
train_df

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
0,1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
1,3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331
2,4,0.834950,0.227436,0.301584,0.293408,0.606839,0.829175,0.506143,0.558771,0.587603,0.823312,0.567007,0.677708,0.882938,0.303047,7.776091
3,5,0.820708,0.160155,0.546887,0.726104,0.282444,0.785108,0.752758,0.823267,0.574466,0.580843,0.769594,0.818143,0.914281,0.279528,6.957716
4,8,0.935278,0.421235,0.303801,0.880214,0.665610,0.830131,0.487113,0.604157,0.874658,0.863427,0.983575,0.900464,0.935918,0.435772,7.951046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,499995,0.216974,0.735265,0.648648,0.255387,0.616353,0.345197,0.295718,0.304357,0.314351,0.860504,0.315397,0.247682,0.486542,0.288750,7.385215
299996,499996,0.545799,0.165139,0.220966,0.190053,0.359362,0.386336,0.365767,0.344217,0.466446,0.454581,0.360251,0.360755,0.292535,0.619984,7.242617
299997,499997,0.284401,0.841542,0.957585,0.340383,0.396279,0.330376,0.525687,0.260039,0.378174,0.526925,0.491735,0.516629,0.173521,0.714552,9.592487
299998,499998,0.481900,0.622346,0.540032,0.823118,0.283066,0.434283,0.174342,0.710843,0.358690,0.648272,0.984647,1.001110,0.063956,0.377693,8.207951
299999,499999,0.486632,0.230090,0.543587,0.263878,0.279118,0.636295,0.472391,0.339654,0.444787,0.636765,0.782196,0.559692,0.762954,0.215539,8.890285

In [6]:
train_df, eval_df = train_test_split(train_df, test_size=0.1, random_state=42)
train_df

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
299465,499124,0.296739,0.238680,0.552435,0.798126,0.283535,0.356414,0.252615,0.288315,0.287371,0.418667,0.222565,0.256153,0.335484,0.305084,8.655444
81922,136046,0.323093,0.184990,0.631521,0.246715,0.280054,0.699906,0.968209,0.257780,0.202772,0.573332,0.467273,0.405426,0.340086,0.240889,9.418093
143673,239251,0.314414,0.617294,0.529944,0.248068,0.508040,0.388033,0.483729,0.517201,0.293904,0.375611,0.212989,0.322451,0.481662,0.403499,7.466063
208449,347236,0.822126,0.229206,0.228898,0.619920,0.282143,0.965123,0.653925,0.807060,0.915861,0.796089,0.857460,0.690531,0.904119,0.383295,8.542546
293179,488693,0.652818,0.737051,0.499454,0.878913,0.945661,0.891230,0.602537,0.838340,0.613555,0.788338,0.890621,0.784033,0.879171,0.783870,7.750713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119879,199467,0.602387,0.739987,0.362214,0.636481,0.920860,0.945076,0.850839,0.834863,0.576828,0.753136,0.961337,0.738973,0.766339,0.690419,7.060562
259178,432109,0.347795,0.553133,0.551271,0.318879,0.281284,0.346903,0.496220,0.346433,0.143852,0.393676,0.395426,0.377345,0.640165,0.604640,7.115909
131932,219597,0.321901,0.737304,0.889965,0.277251,0.282989,0.394406,0.539155,0.452907,0.211294,0.495081,0.803394,0.545659,0.279963,0.824950,7.711140
146867,244500,0.617149,0.811662,0.310680,0.618253,0.516217,0.961608,0.990442,0.872274,0.578402,0.845213,0.810798,0.642220,0.905399,0.291935,6.619997
121958,202939,0.736251,0.621142,0.343874,0.309185,0.283460,0.982658,0.918704,0.531420,0.918839,0.803873,0.970674,0.885265,0.825282,0.421003,7.210559

In [ ]:
TARGET = "target"


preprocessor = PreprocessingTool(val_folds = True,
                                 n_folds = 5,
                                 seed = 42,
                                 prob_type="regression"
                                 )

train_dataset = TabularDataset(train_df,
                               label = TARGET,
                               preprocessor = preprocessor,
                               type = "train")
eval_dataset = TabularDataset(eval_df,
                              label = TARGET,
                              preprocessor = preprocessor,
                              type = "eval")
test_dataset = TabularDataset(test_df,
                              preprocessor = preprocessor,
                              type = "infer")

trainer = Trainer(train_dataset,
                  eval_dataset = eval_dataset,
                  eval_metric = "rmse",
                  models = [
                      "LGB", "XGB", "CAT", "RF",
                             "SGD_LINEAR"],
                  early_stopping_rounds = 0,
                  of_mitigation_level = 0.2,
                  use_gpu = False,
                  use_cuda = False,
                  n_trials = 10000,
                  timeout = 300,
                  meta_timeout = 100,
                  seed = 42,
                  select_top = 3,
                  train_meta = True)

trainer.train()

LABEL: target
Problem type: regression.
-----------------------------------------------------------------------------------------------------------------------------------------
IMPUTER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------
DTYPES DETECTOR:

WARNING: current TabularAML implementation doesn't handle non-categorical text features.

Found 2 unique raw np.dtype(s): [dtype('int64') dtype('float64')].
Dropped 1 column(s) with index ID / non-categorical text features.
Converted 0 column(s) to numeric types.
Remaining features: 0 int feat(s), 14 float feat(s), 0 categorical feat(s).
-----------------------------------------------------------------------------------------------------------------------------------------
5-FOLD STRATIFIEDKFOLDREG TRAIN-VAL SPLITTER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------
SCALER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------
ENCODER:

Done.
-----------------------------------------------------------------------------------------------------------------------------------------



STARTING TRAINING ...


OPTUNING LGB MODEL...

Best trial: 0. Best value: 0.707927:   0%|          | 1/10000 [02:01<337:59:02, 121.69s/it, 121.68/73.33333333333333 seconds]

Trial 0 finished with values: {'mean_train_rmse': 0.6496614930893643, 'mean_val_rmse': 0.6982160139700516, 'optimized_metric': 0.7079269181461891},
and parameters: {'metric': 'None', 'learning_rate': 0.051764020596173854, 'n_estimators': 593, 'max_depth': 9, 'num_leaves': 86, 'feature_fraction': 0.7710262076495599, 'bagging_fraction': 0.5085059940627253, 'lambda_l1': 4.889658402503664, 'lambda_l2': 0.04295298411604797, 'min_child_samples': 66, 'boost_from_average': True, 'verbosity': -1}.



Finished training. TOP 3 models are:

,id,mean_train_rmse,mean_val_rmse,optimized_metric,params_bagging_fraction,params_boost_from_average,params_feature_fraction,params_lambda_l1,params_lambda_l2,params_learning_rate,...,params_metric,params_min_child_samples,params_n_estimators,params_num_leaves,params_verbosity,datetime_start,datetime_complete,duration,state,model
0,LGB_0,0.649661,0.698216,0.707927,0.508506,True,0.771026,4.889658,0.042953,0.051764,...,None,66,593,86,-1,2024-11-24 00:22:31.587110,2024-11-24 00:24:33.192005,0 days 00:02:01.604895,COMPLETE,LGBMRegressor(bagging_fraction=0.5085059940627...

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


OPTUNING XGB MODEL...

  0%|          | 0/10000 [00:00<?, ?it/s]

In [ ]:
import dill
with open("tr.pkl", "wb") as f:
    dill.dump(trainer, f)

In [ ]:
with open("tr.pkl", "rb") as f:
    new_tr = dill.load(f)

In [ ]:
processed_test_data = test_dataset.process()
processed_test_data

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4206,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4207,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
preds = trainer.predict(processed_test_data, mode="ensemble")
preds

array([ 78.72376718,  94.46495028,  78.8818638 , ...,  92.88526377,
       111.10183589,  92.96680061])

In [ ]:
submission = pd.DataFrame({
    "ID": test_df["ID"],
    "y": preds
})
submission

        ID           y
0        1   78.723767
1        2   94.464950
2        3   78.881864
3        4   77.956778
4        5  112.631084
...    ...         ...
4204  8410  103.391248
4205  8411   93.705470
4206  8413   92.885264
4207  8414  111.101836
4208  8416   92.966801

[4209 rows x 2 columns]

In [ ]:
submission.to_csv("submission_meta.csv", index=False)

a
b
d

In [ ]:
lista

['a', 'b', 'c']